fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pymysql
pydantic
pydantic-settings
httpx
web3
apscheduler
python-dotenv
python-dateutil
pyyaml
ccxt
eth-account
hexbytes
msgpack
boto3
lz4
"botocore[crt]"